.part {
  padding-top: 0px;
  min-height: 850px;
}
.project .grid:after {
  content: '';
  display: block;
  clear: both;
}
.project .grid .grid-item {
  padding: 0;
  position: relative;
  -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.07);
}
.project .grid .grid-item figure {
  margin: 0;
  position: relative;
  overflow: hidden;
}
.project .grid .grid-item figure img {
  width: 100%;
  display: block;
  position: relative;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.project .grid .grid-item figure figcaption {
  position: absolute;
  padding: 15px;
  background: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 100%;
  top: auto;
  left: 0;
  bottom: 0;
  z-index: 10;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.project .grid .grid-item figure figcaption .detail {
  color: rgba(39, 39, 39, 0.85);
  position: absolute;
  bottom: 40px;
  left: 35px;
  transition: all 0.4s cubic-bezier(0.49, -0.04, 0.18, 1.07);
  -o-transition: all 0.4s cubic-bezier(0.49, -0.04, 0.18, 1.07);
  -moz-transition: all 0.4s cubic-bezier(0.49, -0.04, 0.18, 1.07);
  -webkit-transition: all 0.4s cubic-bezier(0.49, -0.04, 0.18, 1.07);
}
.project .grid .grid-item figure figcaption .detail span {
  margin-right: 15px;
}
.project .grid .grid-item figure figcaption .detail span:last-child {
  margin-right: 0px;
}
.project .grid .grid-item figure figcaption h3 {
  margin: 0;
  padding: 0;
  color: #272727;
  font-weight: 700;
  bottom: 20px;
  left: 35px;
  right: 35px;
  position: absolute;
  font-size: 20px;
  text-transform: uppercase;
}
.project .grid .grid-item figure figcaption h3 .fa {
  position: absolute;
  top: 2px;
  margin-left: 2px;
  right: 0;
}
.project .grid .grid-item figure figcaption,
.project .grid .grid-item figure figcaption .detail {
  -webkit-transform: translate3d(0px, 10px, 0);
  -moz-transform: translate3d(0px, 10px, 0);
  -ms-transform: translate3d(0px, 10px, 0);
  transform: translate3d(0px, 10px, 0);
  opacity: 0;
}
.project .grid .grid-item figure figcaption h3 {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform: translate3d(0px, -30px, 0);
  -moz-transform: translate3d(0px, -30px, 0);
  -ms-transform: translate3d(0px, -30px, 0);
  transform: translate3d(0px, -30px, 0);
  opacity: 0;
}
.project .grid .grid-item figure figcaption a {
  position: absolute;
  z-index: 1111;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-indent: -99999px;
}
.project .grid .grid-item:hover {
  box-shadow: 0 7px 65px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 7px 65px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 7px 65px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 7px 65px 0 rgba(0, 0, 0, 0.15);
  z-index: 2;
}
.project .grid .grid-item:hover figcaption,
.project .grid .grid-item:hover .detail,
.project .grid .grid-item:hover h3 {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.project .grid .grid-item:hover .detail {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.project .grid .grid-item:hover h3 {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/*  Pre-loader */
.line-loader {
  position: relative;
  display: none;
}
.loader {
  font-size: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -5em 0 0 -5em;
  text-indent: -9999em;
  border: 4px solid #ccc;
  border-left-color: #000;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
