.header .nav-pills li a .fa,
.header .nav li a .fa {
    color: #ff9b2f;
}

.img-content .img-back {
    border: 20px solid #ff9b2f;
}

.about .img-bg {
    border: 20px solid #ff9b2f;
}

.about .nav-pills li.active a,
.about .nav li.active a {
  background-color: inherit;
  color: #ff9b2f;
}
.about .nav-pills li.active a:hover,
.about .nav li.active a:hover {
  background-color: inherit;
  color: #ff9b2f;
}
.about .nav-pills li.active a:focus,
.about .nav li.active a:focus {
  background-color: inherit;
  color: #ff9b2f;
}
.about .profile ul li .fa {
  color: #ff9b2f;
}

.about .education .eudcation-items .year {
  color: #ff9b2f;
}
.about .experience .experience-items .year {
  color: #ff9b2f;
}

.back-button a {
  color: #ff9b2f;
}

.section-box .contact-list a {
    color: #ff9b2f;
}

#form-submit {
  background: #ff9b2f;
}
.about .tab-pane a {
    color: #ff9b2f;
}