@main-color:        #5C54FF;  
@black:             #000000;
@body-bg:           #f4f4f4;
@white:             #ffffff;



@media only screen and (max-device-width: 767px) {
    .header {
        position: fixed;
        z-index: 9999;
        text-align: center;
        display: block;
        height: auto;
        width: auto;
        margin: 0 auto;
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: inherit;
        -moz-transform: inherit;
        -ms-transform: inherit;
        -o-transform: inherit;
        transform: inherit;
    }
    .navbar-toggle {
        background-color: @main-color;
        .icon-bar {
            background: @white;
        }
    }
    .header .nav-pills li, .header .nav{
        background: @white;
        li{
            display: block;
        }
    }
    .header .nav-pills li.active a .fa, .header .nav li.active a .fa, .header .nav-pills li.active h2 .fa, .header .nav li.active h2 .fa{
        display: none;
    }
    .about .nav-pills, .about .nav{
        margin-left: 0;
    }
    
    .section-box {
        padding: 20px;
    }
    
    .g-map{
        margin-top: 20px;
    }
    .portfolio-nav ul li{
        display: block;
    }
    
    .about .profile ul li {
        margin-right: 0px;
        display: block;
        margin-bottom: 30px;
    }
    .section-box .contact-list li strong {
        width: 100%;
    }
    
    .section-box .contact-list li span {
        margin-left: 0;
        display: block;
        text-align: center;
    }
    
    .section-box .contact-list li {
        margin-bottom: 30px;
    }
}
@media (max-width: 991px) {


}
/*
|----------------------------------------------------------------------------
| iPads (landscape)
|----------------------------------------------------------------------------
*/
@media only screen and (max-device-width: 1024px) {
    
    .title{
        h1, h2{
            text-transform: uppercase;
            font-weight: bold;
            line-height: 40px;
            opacity: 0.9;
            color: @black;
        }
        h1{
            letter-spacing: 6px;
            word-spacing: 0px;
            font-size: 30px;
            margin: 30px 0;
            position: relative;
            z-index: 99;
        }
        h2{
            font-size: 24px;
            letter-spacing: 2px;
            line-height: 36px;
            word-spacing: 10px;
        }
    }
        
    
    
    .homepage-works{
        ul{
            li{
                width: 90px;
            }
        }
    }
    .about{
        .profile {
            ul{
                li{
                    margin-right: 30px;
                }
            }
        }
    }
}

/*
|----------------------------------------------------------------------------
| tab portrait and down  
|----------------------------------------------------------------------------
*/
@media only screen and (max-width: 992px) {
    body{
        text-align: center;
    }
    section{
        margin: 30px 0;
        display: block;
        justify-content: inherit;
        align-items: inherit;
        resize: inherit;
    }
    
    
    .header{
        height: 50px;
    }
    
    .img-content {
        margin-top: 30px;
        .img-back{
            margin: 0 auto;
        }
        .profile-img {
            position: absolute;
            top: 20px;
            margin-top: -30px;
            width: 400px;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
    
    .about{
        .img-bg{
            margin: 0 auto;
            text-align: center;
        }
        .about-top{
            position: relative;
        }
        .about-title{
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
        }
        .nav {
            margin-top: 80px;
            margin-left: 0;
        }
    }
    
    .contact-list {
        li{
            margin-bottom: 30px;
        }
    }
    
    .project .grid .grid-item {
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
    }
    .project-content{
        margin-top: 30px;
    }
    
    .about .profile ul li {
        margin-right: 0px;
    }
    
    .section-box{
        margin-bottom: 20px;
    }
}



/*
|----------------------------------------------------------------------------
| tab portrait and down  
|----------------------------------------------------------------------------
*/
@media only screen and (min-width: 1200px) {



}
