/*------------------------------------------------------------------
[Table of contents]



1. Body
    1. Header / #header
        1.1. Navigation  

    2. Home / #home
        2.1. Title / .title
        2.2. Homepage works
        2.3. Image content 

    3. About / .about
        3.1. Featuire Img
        3.2  About Content
        3.3  Nav 
        3.4  Profile
        3.5  Education
        3.6  experience

    4. Works / 
        4.1. Portfolio Na
        4.2  Single Project

    5. Contact / .some-features
        5.1. Section
        5.2. Map
        

    
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[ Color codes ]
    main-color:         #5C54FF             [ This is the main color in Template ]
    Background:         #FFFFFF             [ Background color 1 ]
    Background-2:       #f4f4f4;             [ Background color 2 ]
    light_title_txt:    #FFFFFF;            [ using text color and some ware ]
    dark_title_txt:     #000;               [ using text color and some ware ]



[ This Templage Using 8 Different Coller Scheme ]
    All of the color are same but ( main-color ) is Different.

    main-color:
    ---------------
        1. Yellow: #ECCE52;
        2. Purple: #D869C0;
        3. Turquoise: #61D2B4;
        4. Sky Blow: #9DE6E8;


-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Typography]

Body : 
    font-family: 'Poppins', sans-serif;
    font-style:     italic;
    font-size:      15px;

Header:
    font-family: 'Poppins', sans-serif;
    font-style:     normal;
    font-size: 24px;

h2:
    font-family: 'Poppins', sans-serif;
    font-style:     normal;
    font-size: 22px;

p:  
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 32px;
    opacity: 0.9;
    
span 

    font-size: 18px;
    line-height: 32px;
    opacity: 0.9; 



Notes:  This Template Defult [ font-family: 'Lora', serif; ] [ font-style: italic; ] [ font-size: 15px; ]

-------------------------------------------------------------------*/


/**
 * ===============================
 *  Veriables 
 * ===============================
 */
 
@main-color:        #5C54FF;  
@black:             #000000;
@body-bg:           #f4f4f4;
@white:             #ffffff;


/**
 * ===============================
 *  LESS Function
 * ===============================
 */
.shadow(text, @a1, @a2, @a3, @a4, @color){
    text-shadow:            @a1 @a2 @a3 @a4 @color;
    -moz-text-shadow:       @a1 @a2 @a3 @a4 @color;
    -webkit-text-shadow:    @a1 @a2 @a3 @a4 @color;
    -o-text-shadow:         @a1 @a2 @a3 @a4 @color;
}
.shadow-important(text, @a1, @a2, @a3, @a4, @color){
    text-shadow:            @a1 @a2 @a3 @a4 @color !important;
    -moz-text-shadow:       @a1 @a2 @a3 @a4 @color !important;
    -webkit-text-shadow:    @a1 @a2 @a3 @a4 @color !important;
    -o-text-shadow:         @a1 @a2 @a3 @a4 @color !important;
}
.shadow(box, @a1, @a2, @a3, @a4, @color){
    box-shadow:             @a1 @a2 @a3 @a4 @color;
    -moz-box-shadow:        @a1 @a2 @a3 @a4 @color;
    -webkit-box-shadow:     @a1 @a2 @a3 @a4 @color;
    -o-box-shadow:          @a1 @a2 @a3 @a4 @color;
}
.shadow-important( box, @a1, @a2, @a3, @a4, @color ){
    box-shadow:             @a1 @a2 @a3 @a4 @color !important;
    -moz-box-shadow:        @a1 @a2 @a3 @a4 @color !important;
    -webkit-box-shadow:     @a1 @a2 @a3 @a4 @color !important;
    -o-box-shadow:          @a1 @a2 @a3 @a4 @color !important;
}

.border-radius( @lu, @ru, @rd, @ld ){
    border-radius:          @lu @ru @rd @ld;
    -webkit-border-radius:  @lu @ru @rd @ld;
    -moz-border-radius:     @lu @ru @rd @ld;
    -ms-border-radius:      @lu @ru @rd @ld;
    -o-border-radius:       @lu @ru @rd @ld;
}
.border-radius-importent( @lu, @ru, @rd, @ld ){
    border-radius:          @lu @ru @rd @ld !important;
    -webkit-border-radius:  @lu @ru @rd @ld !important;
    -moz-border-radius:     @lu @ru @rd @ld !important;
    -ms-border-radius:      @lu @ru @rd @ld !important;
    -o-border-radius:       @lu @ru @rd @ld !important;
}

.transform( @value ){
    transform:              rotate(@value);
    -webkit-transform:      rotate(@value);
    -moz-transform:         rotate(@value);
    -o-transform:           rotate(@value);
}

.background-image-fix( @images-name, @repeat ){
    background-image:           url(@images-name);
    -webkit-background-size:    cover;
    -moz-background-size:       cover;
    -o-background-size:         cover;
    background-size:            cover;
    background-repeat:          @repeat;
}
.background-img-fix( @images-name, @repeat ){
    background-image:           url(@images-name);
    -webkit-background-size:    cover;
    -moz-background-size:       cover;
    -o-background-size:         cover;
    background-size:            cover;
    background-position:        center 0;
    background-attachment:      fixed;
    background-repeat:          @repeat;
}
.background-image( @images-name, @repeat ){
    background-image:           url(@images-name);
    background-size:            cover;
    background-repeat:          @repeat;
}
.transition( @value ){
    -webkit-transition:         all @value ease-out;
    -moz-transition:            all @value ease-out;
    -o-transition:              all @value ease-out;
    -ms-transition:             all @value ease-out;
    transition:                 all @value ease-out;
}


/**
 * ===============================
 *  Custom CSS 
 * ===============================
 */
h2 {
    font-size: 22px;
    line-height: 34px;
}

p {
    font-size: 18px;
    line-height: 32px;
    opacity: 0.9;
}
span {
    font-size: 18px;
    line-height: 32px;
    opacity: 0.9; 
}
a {
    font-size: 18px;
    line-height: 32px;
}
 
 
/**
 * ===============================
 *  Custom  CSS 
 * =============================== 
 */
html,
body{
    background: @white;
    font-family: 'Poppins', sans-serif;
    margin: auto 0;
    padding: 0;
    height: 100%;
}


ul{
    margin: 0;
    padding: 0;
    li{
        list-style-type: none;
    }
}
section {
    overflow: hidden;
    height: 100%;
    position: relative;
    margin: auto 0;
      display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
}

.no-paddding{
    padding: 0;
}
.section-separator{
    padding: 50px 0;
}
.no-padding-bottom{
    padding-bottom: 0px;
}

/**
 * ===============================
 *  Navigation
 * ===============================
 */
 
.header{
    position: fixed;
    z-index: 9999;
    text-align: center;
    float: none;
    height: 300px;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    -webkit-transform-origin: 100% 50%;
      -moz-transform-origin: 100% 50%;
       -ms-transform-origin: 100% 50%;
        -o-transform-origin: 100% 50%;
           transform-origin: 100% 50%;
   -webkit-transform: rotate(90deg) translate(50%, 50%);
      -moz-transform: rotate(90deg) translate(50%, 50%);
       -ms-transform: rotate(90deg) translate(50%, 50%);
        -o-transform: rotate(90deg) translate(50%, 50%);
           transform: rotate(90deg) translate(50%, 50%);
    .nav-pills, .nav{
        margin: 0 auto;
        text-align: center;
        float: none;
        padding: 0;
        li{
            float: none;
            display: inline-block;
            text-align: center;
            top: -15px;
            a {
                h2 {
                    padding: 0px;
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: 4px;
                    font-size: 24px;
                    line-height: 32px;
                    color: #b8b8b8;
                    background-color: inherit;
                    position: relative;
                }
                .fa{
                    position: absolute;
                    font-size: 30px;
                    top: 0;
                    left: 40%;
                    display: none;
                    text-align: center;
                    color: @main-color;
                }
                &:hover, &:focus {
                    background-color: inherit;    
                }
            }
        }
        li.active{
            a, h2  {
                background-color: inherit;
                color: @black;
                opacity: 0.9;
                -webkit-transition: 0.5s ease-in;
                -moz-transition: 0.5s ease-in;
                -o-transition: 0.5s ease-in;
                -ms-transition: 0.5s ease-in;
                transition: 0.5s ease-in;
                .fa{
                    display: block;
                }
                &:hover{
                    background-color: inherit;
                    color: @black;
                }
                &:focus{
                    background-color: inherit;
                    color: @black;
                    opacity: 0.9;
                }
            }
        }
    } 
}

/**
 * ===============================
 *  Home Page
 * ===============================
 */

.title{
    h1, h2{
        text-transform: uppercase;
        font-weight: bold;
        line-height: 50px;
        opacity: 0.9;
        color: @black;
    }
    h1{
        letter-spacing: 10px;
        word-spacing: 8px;
        font-size: 40px;
        margin: 30px 0;
        position: relative;
        z-index: 99;
    }
    h2{
        font-size: 24px;
        letter-spacing: 2px;
        line-height: 36px;
        word-spacing: 10px;
    }
}
.homepage-works{
    margin-top: 20px;
    ul{
        margin: 30px 0;
        li{
            display: inline-block;
            height: auto;
            width: 120px;
            margin: 0 5px;
            -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.07);
            box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.07);
           
            img{
                -webkit-transition: 0.5s ease-in;
                -moz-transition: 0.5s ease-in;
                -o-transition: 0.5s ease-in;
                -ms-transition: 0.5s ease-in;
                transition: 0.5s ease-in;
            }
            &:hover {
                img{
                    -webkit-box-shadow: 0 21px 65px 0 rgba(0, 0, 0, 0.18);
                    -moz-box-shadow: 0 21px 65px 0 rgba(0, 0, 0, 0.18);
                    box-shadow: 0 21px 65px 0 rgba(0, 0, 0, 0.18);
                }
            }
        }
    }
    a {
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 4px;
        color: @black;
        opacity: 0.9;
        font-weight: 600;
        .fa{
            -webkit-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out;
        }
        &:hover{
            text-decoration: none;
            
            .fa{
                -webkit-transform: translate3d(10px, 0, 0) scale(1.2);
                transform: translate3d(10px, 0, 0) scale(1.2);
                margin-left: 15px;
            }
        }
    }
}
.img-content{
    position: relative;
    padding-top: 5% ;
    
    .profile-img {
        position: absolute;
        top: 0;
        margin-top: -30px;
        width: 400px;
    }
    .img-back {
        margin-left: -150px;
        opacity: 0.9;   
        border: 20px solid #5C54FF;
        width: 400px;
        height: 450px;
        z-index: -99999;
        -webkit-transition: 0.15s ease-in;
        -moz-transition: 0.15s ease-in;
        -o-transition: 015s ease-in;
        -ms-transition: 0.15s ease-in;
        transition: 0.15s ease-in;
    }
}


/**
 * ===============================
 *  About 
 * ===============================
 */
 
.about {
    background: @white;
    .featured-img{
        position: absolute;
        top: 0;
        box-shadow: 0 21px 65px 0 rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 0 21px 65px 0 rgba(0, 0, 0, 0.18);
        -webkit-transition: 0.5s ease-in;
        -moz-transition: 0.5s ease-in;
        -o-transition: 0.5s ease-in;
        -ms-transition: 0.5s ease-in;
        transition: 0.5s ease-in;
        img{
            height: 300px;
        }
    }
    .img-bg{
        height: 380px;
        width: 350px;
        border: 20px solid #5C54FF;
        margin-top: 50px;
        margin-left: 50px;
        opacity: 0.9;
    }
    .about-title{
        position: absolute;
        top: 320px;
        h2, span {
            letter-spacing: 4px;
            text-transform: uppercase;
            font-weight: 600;
        }
        h2{
            font-size: 25px;
            line-height: 36px;
        }
    }
    .about-content{
        margin-top: 60px;
        p{
            margin-bottom: 50px;
            margin-top: 10px;
        }
    }
    .nav-pills, .nav{
        margin-left: 50px;
        margin-top: 30px;
        li{
            float: none;
            
            a{
                padding: 6px 0px;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 4px;
                font-size: 25px;
                line-height: 34px;
                color: #b8b8b8;
                background-color: inherit;
                
                &:hover{
                    background-color: inherit;    
                }
            }
        }
        li.active{
            a{
                background-color: inherit;
                color: #5C54FF;
                &:hover{
                    background-color: inherit;
                    color: #5C54FF;
                }
                &:focus{
                    background-color: inherit;
                    color: #5C54FF;
                }
            }
        }
    }
    .profile {
        ul{
            li{
                display: inline-block;
                margin-right: 50px;
                
                &:last-child {
                    margin-right: 0px;   
                }
                .fa{
                    font-size: 50px;
                    line-height: 50px;
                    color: #5C54FF;
                    text-align: center;
                }
            }
        }
    }
    .tab-pane{
        a{
            color: @main-color;
        }
    }
    .awards{
        .awards-items{
            h2 {
                margin-top: 0;
            }
        }
    }
    .education{
        .eudcation-items{
            h2{
                margin-top: 0;
                margin-bottom: 10px;
            }
            .year{
                color: @main-color;
                margin-bottom: 30px;
                font-size: 18px;
                line-height: 34px;
            }
        }
    }
    .experience{
        .experience-items{
            h2{
                margin-top: 0;
                margin-bottom: 10px;
            }

            .year{
                color: @main-color;
                margin-bottom: 30px;
                font-size: 18px;
                line-height: 34px;
            }
        }
    }
}

/**
 * ===============================
 *  Works
 * ===============================
 */

.works{
    #loader {
        position: relative;
        display: none;
    }
    #loader .loader-icon {
        background: url(../images/loading.gif) no-repeat center center;
        background-color: #FFF;
        margin: -22px -22px;
        top: 50%;
        left: 50%;
        z-index: 10000;
        position: fixed;
        width: 44px;
        height: 44px;
        -webkit-background-size: 30px 30px;
        background-size: 30px 30px;
        border-radius: 5px;
    }
    .project-gallery{
        margin-top: 50px;
    }
    .portfolioFilter{
        margin: 30px auto;
        text-align: center;
        a{
            padding: 30px;
        }
    }
}
.portfolio-nav ul {
    margin-bottom: 30px;
    text-align: center;
    li {
        list-style-type: none;
        display: inline;
        margin: 10px;
        padding-bottom: 5px;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
    
        &:hover {
            border-bottom: 1px solid #bdbdbd;
        }
    }
}
.back-button{
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    
    #back-button {
        display: none;
    }
    a {
        font-size: 26px;
        line-height: 34px;
        color: @main-color;
        font-weight: 500;
        text-decoration: none;
    }
    .fa{
        top: 3px;
        position: relative;
        right: 5px;
    }
}

.single-project{
    margin-top: 50px;
    
    .project-content{
        h3{
            margin-top: 0px;
            margin-bottom: 30px;
            font-size: 26px;
            font-weight: 600;
            opacity: 0.9;
            
        }
        strong{
            font-size: 20px;
            line-height: 30px;
            font-weight: 500;
        }
    }
    .content-info{
        a{
            color: @main-color;
        }
    }
}

/**
 * ===============================
 *  Contact Section
 * ===============================
 */
.section-box{
    -webkit-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.07);
    background: #fff;
    padding: 40px;
    
    h3{
        margin-bottom: 50px;
    }
    .contact-list{
        list-style: none;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 15px;
        li{
            margin-bottom: 10px;
            strong{
                width: 120px;
                float: left;
                text-transform: uppercase;
                font-size: 18px;
                line-height: 34px;
            }
            span{
                margin-left: 110px;
                display: -webkit-box;
            }
        }
        a{
            color: @main-color;
        }
    }
}

#map {
    width: 100%;
    height: 350px;
}
.form-group {
    margin-bottom: 0px;
}
.form-control{
    background-color: @white;
    .shadow-important(box, 0, 0px, 0px, 0, transparent);
    .border-radius-importent(0, 0, 0, 0);
    margin-bottom: 30px;
    height: 54px;
    border-color: #bdbdbd;
    font-weight: 500;
    opacity: 0.9;
    font-size: 18px;
    
    &:last-child{
        margin-bottom: 0;
    }
}
#form-submit{
    width: 100%;
    background: @main-color;
    color: @white;
    text-transform: uppercase;
}


/* Preloader */ 

#html5Loader{
	top:0;
	left:0;
	z-index: 9999999;
	background: black;
	margin:0;
	position:fixed;
}
#html5Loader .fallback {
	top:50%;
	position:absolute;
	text-align:center;
	width:100%;
	color:white;	
	z-index: 9999999;
	vertical-align: middle;
	display: block;
	font-style: normal;
	font-size:100px;
}