/*------------------------------------------------------------------
[Table of contents]



1. Body
    1. Header / #header
        1.1. Navigation  

    2. Home / #home
        2.1. Title / .title
        2.2. Homepage works
        2.3. Image content 

    3. About / .about
        3.1. Featuire Img
        3.2  About Content
        3.3  Nav 
        3.4  Profile
        3.5  Education
        3.6  experience

    4. Works / 
        4.1. Portfolio Na
        4.2  Single Project

    5. Contact / .some-features
        5.1. Section
        5.2. Map
        

    
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[ Color codes ]
    main-color:         #5C54FF             [ This is the main color in Template ]
    Background:         #FFFFFF             [ Background color 1 ]
    Background-2:       #f4f4f4;             [ Background color 2 ]
    light_title_txt:    #FFFFFF;            [ using text color and some ware ]
    dark_title_txt:     #000;               [ using text color and some ware ]



[ This Templage Using 8 Different Coller Scheme ]
    All of the color are same but ( main-color ) is Different.

    main-color:
    ---------------
        1. Yellow: #ECCE52;
        2. Purple: #D869C0;
        3. Turquoise: #61D2B4;
        4. Sky Blow: #9DE6E8;


-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Typography]

Body : 
    font-family: 'Poppins', sans-serif;
    font-style:     italic;
    font-size:      15px;

Header:
    font-family: 'Poppins', sans-serif;
    font-style:     normal;
    font-size: 24px;

h2:
    font-family: 'Poppins', sans-serif;
    font-style:     normal;
    font-size: 22px;

p:  
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 32px;
    opacity: 0.9;
    
span 

    font-size: 18px;
    line-height: 32px;
    opacity: 0.9; 



Notes:  This Template Defult [ font-family: 'Lora', serif; ] [ font-style: italic; ] [ font-size: 15px; ]

-------------------------------------------------------------------*/
/**
 * ===============================
 *  Veriables 
 * ===============================
 */
/**
 * ===============================
 *  LESS Function
 * ===============================
 */
/**
 * ===============================
 *  Custom CSS 
 * ===============================
 */
h2 {
  font-size: 22px;
  line-height: 34px;
}
p {
  font-size: 18px;
  line-height: 32px;
  opacity: 0.9;
}
span {
  font-size: 18px;
  line-height: 32px;
  opacity: 0.9;
}
a {
  font-size: 18px;
  line-height: 32px;
}
/**
 * ===============================
 *  Custom  CSS 
 * =============================== 
 */
html,
body {
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
  margin: auto 0;
  padding: 0;
  height: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
section {
  overflow: hidden;
  height: 100%;
  position: relative;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
}
.no-paddding {
  padding: 0;
}
.section-separator {
  padding: 50px 0;
}
.no-padding-bottom {
  padding-bottom: 0px;
}
/**
 * ===============================
 *  Navigation
 * ===============================
 */
.header {
  position: fixed;
  z-index: 9999;
  text-align: center;
  float: none;
  height: 300px;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: rotate(90deg) translate(50%, 50%);
  -moz-transform: rotate(90deg) translate(50%, 50%);
  -ms-transform: rotate(90deg) translate(50%, 50%);
  -o-transform: rotate(90deg) translate(50%, 50%);
  transform: rotate(90deg) translate(50%, 50%);
}
.header .nav-pills,
.header .nav {
  margin: 0 auto;
  text-align: center;
  float: none;
  padding: 0;
}
.header .nav-pills li,
.header .nav li {
  float: none;
  display: inline-block;
  text-align: center;
  top: -15px;
}
.header .nav-pills li a h2,
.header .nav li a h2 {
  padding: 0px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 24px;
  line-height: 32px;
  color: #b8b8b8;
  background-color: inherit;
  position: relative;
}
.header .nav-pills li a .fa,
.header .nav li a .fa {
  position: absolute;
  font-size: 30px;
  top: 0;
  left: 40%;
  display: none;
  text-align: center;
  color: #5C54FF;
}
.header .nav-pills li a:hover,
.header .nav li a:hover,
.header .nav-pills li a:focus,
.header .nav li a:focus {
  background-color: inherit;
}
.header .nav-pills li.active a,
.header .nav li.active a,
.header .nav-pills li.active h2,
.header .nav li.active h2 {
  background-color: inherit;
  color: #000000;
  opacity: 0.9;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.header .nav-pills li.active a .fa,
.header .nav li.active a .fa,
.header .nav-pills li.active h2 .fa,
.header .nav li.active h2 .fa {
  display: block;
}
.header .nav-pills li.active a:hover,
.header .nav li.active a:hover,
.header .nav-pills li.active h2:hover,
.header .nav li.active h2:hover {
  background-color: inherit;
  color: #000000;
}
.header .nav-pills li.active a:focus,
.header .nav li.active a:focus,
.header .nav-pills li.active h2:focus,
.header .nav li.active h2:focus {
  background-color: inherit;
  color: #000000;
  opacity: 0.9;
}
/**
 * ===============================
 *  Home Page
 * ===============================
 */
.title h1,
.title h2 {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px;
  opacity: 0.9;
  color: #000000;
}
.title h1 {
  letter-spacing: 10px;
  word-spacing: 8px;
  font-size: 40px;
  margin: 30px 0;
  position: relative;
  z-index: 99;
}
.title h2 {
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 36px;
  word-spacing: 10px;
}
.homepage-works {
  margin-top: 20px;
}
.homepage-works ul {
  margin: 30px 0;
}
.homepage-works ul li {
  display: inline-block;
  height: auto;
  width: 120px;
  margin: 0 5px;
  -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.07);
}
.homepage-works ul li img {
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.homepage-works ul li:hover img {
  -webkit-box-shadow: 0 21px 65px 0 rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 21px 65px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 21px 65px 0 rgba(0, 0, 0, 0.18);
}
.homepage-works a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  color: #000000;
  opacity: 0.9;
  font-weight: 600;
}
.homepage-works a .fa {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.homepage-works a:hover {
  text-decoration: none;
}
.homepage-works a:hover .fa {
  -webkit-transform: translate3d(10px, 0, 0) scale(1.2);
  transform: translate3d(10px, 0, 0) scale(1.2);
  margin-left: 15px;
}
.img-content {
  position: relative;
  padding-top: 5% ;
}
.img-content .profile-img {
  position: absolute;
  top: 0;
  margin-top: -30px;
  width: 400px;
}
.img-content .img-back {
  margin-left: -150px;
  opacity: 0.9;
  border: 20px solid #5C54FF;
  width: 400px;
  height: 450px;
  z-index: -99999;
  -webkit-transition: 0.15s ease-in;
  -moz-transition: 0.15s ease-in;
  -o-transition: 15s ease-in;
  -ms-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}
/**
 * ===============================
 *  About 
 * ===============================
 */
.about {
  background: #ffffff;
}
.about .featured-img {
  position: absolute;
  top: 0;
  box-shadow: 0 21px 65px 0 rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0 21px 65px 0 rgba(0, 0, 0, 0.18);
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.about .featured-img img {
  height: 300px;
}
.about .img-bg {
  height: 380px;
  width: 350px;
  border: 20px solid #5C54FF;
  margin-top: 50px;
  margin-left: 50px;
  opacity: 0.9;
}
.about .about-title {
  position: absolute;
  top: 320px;
}
.about .about-title h2,
.about .about-title span {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 600;
}
.about .about-title h2 {
  font-size: 25px;
  line-height: 36px;
}
.about .about-content {
  margin-top: 60px;
}
.about .about-content p {
  margin-bottom: 50px;
  margin-top: 10px;
}
.about .nav-pills,
.about .nav {
  margin-left: 50px;
  margin-top: 30px;
}
.about .nav-pills li,
.about .nav li {
  float: none;
}
.about .nav-pills li a,
.about .nav li a {
  padding: 6px 0px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 25px;
  line-height: 34px;
  color: #b8b8b8;
  background-color: inherit;
}
.about .nav-pills li a:hover,
.about .nav li a:hover {
  background-color: inherit;
}
.about .nav-pills li.active a,
.about .nav li.active a {
  background-color: inherit;
  color: #5C54FF;
}
.about .nav-pills li.active a:hover,
.about .nav li.active a:hover {
  background-color: inherit;
  color: #5C54FF;
}
.about .nav-pills li.active a:focus,
.about .nav li.active a:focus {
  background-color: inherit;
  color: #5C54FF;
}
.about .profile ul li {
  display: inline-block;
  margin-right: 50px;
}
.about .profile ul li:last-child {
  margin-right: 0px;
}
.about .profile ul li .fa {
  font-size: 50px;
  line-height: 50px;
  color: #5C54FF;
  text-align: center;
}
.about .tab-pane a {
  color: #5C54FF;
}
.about .awards .awards-items h2 {
  margin-top: 0;
}
.about .education .eudcation-items h2 {
  margin-top: 0;
  margin-bottom: 10px;
}
.about .education .eudcation-items .year {
  color: #5C54FF;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 34px;
}
.about .experience .experience-items h2 {
  margin-top: 0;
  margin-bottom: 10px;
}
.about .experience .experience-items .year {
  color: #5C54FF;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 34px;
}
/**
 * ===============================
 *  Works
 * ===============================
 */
.works #loader {
  position: relative;
  display: none;
}
.works #loader .loader-icon {
  background: url(../images/loading.gif) no-repeat center center;
  background-color: #FFF;
  margin: -22px -22px;
  top: 50%;
  left: 50%;
  z-index: 10000;
  position: fixed;
  width: 44px;
  height: 44px;
  -webkit-background-size: 30px 30px;
  background-size: 30px 30px;
  border-radius: 5px;
}
.works .project-gallery {
  margin-top: 50px;
}
.works .portfolioFilter {
  margin: 30px auto;
  text-align: center;
}
.works .portfolioFilter a {
  padding: 30px;
}
.portfolio-nav ul {
  margin-bottom: 30px;
  text-align: center;
}
.portfolio-nav ul li {
  list-style-type: none;
  display: inline;
  margin: 10px;
  padding-bottom: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}
.portfolio-nav ul li:hover {
  border-bottom: 1px solid #bdbdbd;
}
.back-button {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}
.back-button #back-button {
  display: none;
}
.back-button a {
  font-size: 26px;
  line-height: 34px;
  color: #5C54FF;
  font-weight: 500;
  text-decoration: none;
}
.back-button .fa {
  top: 3px;
  position: relative;
  right: 5px;
}
.single-project {
  margin-top: 50px;
}
.single-project .project-content h3 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 600;
  opacity: 0.9;
}
.single-project .project-content strong {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}
.single-project .content-info a {
  color: #5C54FF;
}
/**
 * ===============================
 *  Contact Section
 * ===============================
 */
.section-box {
  -webkit-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.07);
  background: #fff;
  padding: 40px;
}
.section-box h3 {
  margin-bottom: 50px;
}
.section-box .contact-list {
  list-style: none;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 15px;
}
.section-box .contact-list li {
  margin-bottom: 10px;
}
.section-box .contact-list li strong {
  width: 120px;
  float: left;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 34px;
}
.section-box .contact-list li span {
  margin-left: 110px;
  display: -webkit-box;
}
.section-box .contact-list a {
  color: #5C54FF;
}
#map {
  width: 100%;
  height: 350px;
}
.form-group {
  margin-bottom: 0px;
}
.form-control {
  background-color: #ffffff;
  box-shadow: 0 0px 0px 0 transparent !important;
  -moz-box-shadow: 0 0px 0px 0 transparent !important;
  -webkit-box-shadow: 0 0px 0px 0 transparent !important;
  -o-box-shadow: 0 0px 0px 0 transparent !important;
  border-radius: 0 0 0 0 !important;
  -webkit-border-radius: 0 0 0 0 !important;
  -moz-border-radius: 0 0 0 0 !important;
  -ms-border-radius: 0 0 0 0 !important;
  -o-border-radius: 0 0 0 0 !important;
  margin-bottom: 30px;
  height: 54px;
  border-color: #bdbdbd;
  font-weight: 500;
  opacity: 0.9;
  font-size: 18px;
}
.form-control:last-child {
  margin-bottom: 0;
}
#form-submit {
  width: 100%;
  background: #5C54FF;
  color: #ffffff;
  text-transform: uppercase;
}
/* Preloader */
#html5Loader {
  top: 0;
  left: 0;
  z-index: 9999999;
  background: black;
  margin: 0;
  position: fixed;
}
#html5Loader .fallback {
  top: 50%;
  position: absolute;
  text-align: center;
  width: 100%;
  color: white;
  z-index: 9999999;
  vertical-align: middle;
  display: block;
  font-style: normal;
  font-size: 100px;
}
