.header .nav-pills li a .fa,
.header .nav li a .fa {
    color: red;
}

.img-content .img-back {
    border: 20px solid red;
}

.about .img-bg {
    border: 20px solid red;
}

.about .nav-pills li.active a,
.about .nav li.active a {
  background-color: inherit;
  color: red;
}
.about .nav-pills li.active a:hover,
.about .nav li.active a:hover {
  background-color: inherit;
  color: red;
}
.about .nav-pills li.active a:focus,
.about .nav li.active a:focus {
  background-color: inherit;
  color: red;
}
.about .profile ul li .fa {
  color: red;
}

.about .education .eudcation-items .year {
  color: red;
}
.about .experience .experience-items .year {
  color: red;
}

.about .tab-pane a {
    color: red;
}

.back-button a {
  color: red;
}

.section-box .contact-list a {
    color: red;
}

.form-control:focus {
    border-color: red;
}

#form-submit {
  background: red;
}